* {
    box-sizing: border-box;
}

.nav   {
    display: flex;
    list-style: none;
}
.nav>li a{
    text-decoration: none;
    color: #877160;
    transition-duration: 1s;
}

.nav li{
    border: 1px solid #B0C7D8;
    background-color: white;
    padding: 10px;
    margin-left: 20px;
    transition-duration: 1s;
    border-radius: 5px;

}
.nav>li:hover a{
    color: white;
    transition-duration: 1s;
}

.nav>li:hover {
    background-color: #607788;
    color: white;
    transition-duration: 1s;
}