
body {
    background-color: #2b98ff;
}

#menu {
    position: absolute;
    display: inline-block;
    margin: 375px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
a {
    display: inline-block;
    padding: 25px;
    text-decoration: none;
    color: white;
    height: 20px;
    border: 2px solid white;
    background-color: #2b98ff;
    transition-duration: 1s;
    font: normal 20px SansSerif;
    border-radius: 10px;
}

li {
    margin: 20px;
}

a:hover {
    border-radius: 20px;
    transition-duration: 1s;
    background-color: white;
    box-shadow: 5px 5px 20px;
    color: black;
}