* {
    box-sizing: border-box;
}

ul {
    background-color: #333333;
    display: flex;
    border-bottom: 5px solid #2b98ff;
    margin: 0;
    padding: 0;
    list-style: none;
}


ul>li {
    color: white;
    border-collapse: collapse;
    padding: 10px 40px 10px 40px;
    font-size: 40px;
    transition: all 0.3s ease;

}

ul>li ul {
    display: none;
    position: absolute;
    left: 188px;
    top: 75px;
    width: 250px;

}

ul>li>ul>li>ul{
    position: absolute;
    left: 250px;
    top: 65px;
}

ul li:hover{
    background-color: #2b98ff;
    color: white;
    transition-duration: 1s;
}

li:hover > ul {
    display: block;
}