* {
    box-sizing: border-box;
}


#space {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body {
    height: 100%;
}
/* ____________________Footer______________________ */

footer {

    bottom: 0;
    width: 100%;
    padding: 1%;
    background-color: #2b98ff;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

a:hover {
    color: black;
    transition-duration: 0.3s;
}

/* __________________Footer Top______________________ */
#top {
    display: table;
}


#top div {
    display: table-cell;
    width: 24%;
}

#top>div>a {
    font: normal 20px Tahoma;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

#top:first-child {
    font: bold 20px Tahoma;
    color: white;
    padding-left: 50px;
}

#top div dl>dd {
    margin-left: 0;
}

#top div dl{
    margin-top: 0;
}

input {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #2b98ff;
    color: white;
    font: normal 20px SansSerif;
    text-align: center;
    display: flex;
    flex-direction: row;
    transition:all 0.3s ease;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #2b98ff;
    color: white;
    font: normal 20px SansSerif;
    margin-top: 20px;
    transition:all 0.3s ease;
}

input:hover{
    font-weight: bolder;
    transition:all 0.3s ease;
}

button:hover{
    background-color: white;
    color: black;
    transition:all 0.3s ease-in-out;
}

/* __________________Footer Bottom__________________ */

#bottom {
    margin-top: 200px;
    padding: 20px;
    horiz-align: center;
    position: relative;
    border-top:3px solid white;
    border-radius: 3px;
}

#bottom div:first-child{
    position: absolute;
    display: inline-block;
    font: normal 20px SansSerif;

}

#bottom #images {
    margin-left: 80%;
    display: inline-block;
}

#bottom img {
    width: 30px;
}

#bottom a {
    margin: 10px;
}