* {
    box-sizing: border-box;
}


#background {

    background-image: url("img/0.png");
    width: 1280px;
    height: 946px;
    border: 1px solid white;

}

#img6 {
    position: absolute;
    background-image: url("img/6.png");
    background-repeat: no-repeat;
    width: 184px;
    height: 234px;
    margin-left: 240px;
    margin-top: 180px;


}
#img3 {
    position: absolute;
    background-image: url("img/3.png");
    background-repeat: no-repeat;
    width: 240px;
    height: 424px;
    margin-left: 500px;
    margin-top: 150px;
}

#img2{
    position: absolute;
    background-position: center;
    background-image: url("img/2.png");
    background-repeat: no-repeat;
    width: 288px;
    height: 486px;
    margin-left: 200px;

}
#img4 {
    position: absolute;
    background-image: url("img/4.png");
    background-repeat: no-repeat;
    width: 212px;
    height: 296px;
    bottom: 0;
    margin-left: -100px;
}
#img5 {
    position: absolute;
    height: 438px;
    width: 308px;
    background-repeat: no-repeat;
    background-image: url("img/5.png");
    margin-left: -600px;
    margin-top: -200px;
}
#img1 {
    position: absolute;
    height: 390px;
    width: 608px;
    background-repeat: no-repeat;
    background-image: url("img/1.png");
    margin-left: -240px;
    bottom:0;
    margin-bottom: -186px;
}
