fieldset {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 300px;
    margin-left: -150px;
    border-radius: 20px

}

table tr:first-child>td:nth-child(2)>input {
    background-color: #de4948;
    border: 2px solid #de1b18;

}
table tr:nth-child(2)>td:nth-child(2)>input {
    background-color: #de75c7;
    border: 2px solid #de29cb;

}table tr:nth-child(3)>td:nth-child(2)>input {
    background-color: #de75c7;
    border: 2px solid #de29cb;

}table tr:nth-child(4)>td:nth-child(2)>input {
      background-color: #de4948;
      border: 2px solid #de1b18;

}table tr:nth-child(5)>td:nth-child(2)>input {
       background-color: #de4948;
       border: 2px solid #de1b18;

}table tr:nth-child(7)>td:nth-child(2)>select {
       background-color: #31c7de;
       border: 2px solid #0f2cde;

}table tr:nth-child(8)>td:nth-child(2)>textarea {
         background-color: #71cc61;
         border: 2px solid #21cc00;
     }

 button[type="Submit"]{
     background-color: #31c7de;
     width: 100px;
 }
button[type="Reset"]{
     background-color: #cc2e2d;
 }