* {
    box-sizing: border-box;
    clear: left;
}

img {
    width: 300px;
}

img + p {
    font: normal 14pt SansSerif;
    color: #4f5252;
}
blockquote {
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 10px;
    width: 300px;
    font: italic 20px Georgia;
    color: #3a3d3d;
}

blockquote p{
    position: relative;
    right: -30%;
    font-style: normal;
}

blockquote:before,
blockquote:after {
    position: absolute;
    font-size: 40px;
    color: #aaa;
}
blockquote:before {
    content: '\201c';
    top: -12px;
    left: 0;
}

blockquote:after {
    content: '\201d';
    bottom: -65px;
    right: 0;
}

/*---------------Header-------------*/

header {
    background-image: url("img/Screenshot_3.png");
    background-repeat: no-repeat;
    background-position: left center;
}
header p {
    font-family:Georgia;
    font-weight: bolder;
    color: #3c3f3f;
    margin-left: 52px;
    font-size: 30px;
    display: inline-block;
}

/*--------------Person1-------------*/

#person1 {

}

#person1 div:first-child {
    float: left;
    position: relative;
}

#person1 div p{
    text-align: center;
}




/*-------------Person2--------------*/

#person2 div:first-child {
    float: left;
    position: relative;
}

#person2 div p{
    text-align: center;
}
#person2 blockquote {
    width: 230px;
}

#person2 blockquote p{
    position: relative;
    right: -70%;
    font-style: normal;
}