* {
    box-sizing: border-box;
}

#background {
    background-image:url("img/1.png"),url("img/4.png"),url("img/5.png"),url("img/2.png"), url("img/3.png"), url("img/6.png") ,url("img/0.png") ;
    width: 1280px;
    height: 946px;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left,850px 450px,300px 300px, 900px 250px, 730px 270px, 230px 160px,bottom right;
}